<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
    <h1>Hotel ADA</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticate</title>
</head>
<body>
    <h2>Inicia Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Continuar</button>
    </form>
</body>
</html>
{% endblock %}